@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DynamicCv.Models.Entity
@model List<TblEducation>
@foreach(var x in Model)
{
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">@x.Title</h3>
            <div class="subheading mb-3">@x.SubTitle</div>
            <div>@x.Description</div>
            <p>GPA: @x.Gno</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@x.Date</span></div>
    </div>
}

